<%= stylesheet_link_tag "hello", :media => "all" %>

<span class="explaination">
    <h2>このサイトの使い方</h2>
    <div class="nakami">
        <h5>①まずはサイトをあちこち見て回りましょう！</h5>
        まずはこのサイトに<b>どんな機能</b>が実装されているのか、<b>どんな装飾</b>がなされているのかを見て回りましょう。
    </div>
    <div class="nakami">
        <h5>②自分が使いたい機能・装飾を見つけたら...？</h5>
        このサイトはすべてのページにおいてページの下の方にこのボックスと同じ色のボックスがあります。
        そのボックスを参考に、取り入れたい機能の情報を入手してください！
    </div>

    <div class="nakami">
        <h1>※おねがい！</h1>
        このサイトを<b>GeekSalon外部に公開することは避けてください。</b>
    </div>
</span>

<h1>お問い合わせフォーム</h1>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScvpAgnu4Ex1pq5mPS3Pp4pv76b9-_Ti3Rd1E_JfdNm7K9ahA/viewform?embedded=true" width="640" height="945" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>


<div class="kinou-detail">
    <h2>このサイト全体を通して実装されている機能（＝header、fotter）</h2>
    <div class="nakami">
        <h5>①左上のサイトの名前が光り輝いている</h5>
        <p>
        この機能は<b>キーフレーム（@kayframe）</b>と呼ばれています。
        色の変化だけではなく、動きを表現することもできます。
        参考となる記事は<a href="https://qiita.com/GeekSalon/private/1f6a68e5b1ecca5a3b0f">これ</a>です。
        </p>
    </div>
    <div class="nakami">
        <h5>②headerのボタンの装飾</h5>
        <p>
        headerのボタンの装飾のうち、<b>角を丸くする</b>方法と、<b>マウスをかざすと色が変化する</b>方法について紹介します。
        角を丸くするにはCSSにて<b>border-radius</b>というプロパティを用います。
        また、マウスをかざした時の変化はCSSにて<b>:hover</b>をセレクタに追記します。
        参考となる記事は、border-radiusについては<a href="https://jajaaan.co.jp/web-production/frontend/border-radius/">これ</a>を、
        :hoverについては<a href="https://web-camp.io/magazine/archives/10923">これ</a>を
        それぞれご参照ください。
        </p>
    </div>
    <div class="nakami">
        <h5>③footerのTwitterアイコンをクリックすると、ページをシェアできる機能</h5>
        <p>
        Twitterだけでなく、LINEやFaceBookにもシェアできるボタンを実装できます。
        参考となる記事は<a href="https://qiita.com/keitah/items/6bce3913c3f9f4415693">これ</a>です。
        </p>
    </div>
<div>