<div class="kinou-detail">
    <h2>このページに実装されている機能</h2>
    <div class="nakami">
        <h5>①いいね数だけではなく閲覧数もカウントし、閲覧数順に投稿を表示する機能</h5>
        <p>
        この機能は<b>impressionist</b>を用いることにより実装できます。
        参考となる記事は<a href="https://qiita.com/MandoNarin/items/38288be03415d5a462b8">これ</a>です。
        </p>
    </div>
    <div class="nakami">
        <h5>②ページ遷移をせずに新規投稿する機能</h5>
        <p>
        この機能は<b>modal</b>を用いることにより実装できます。
        このサイトでは投稿だけではなく、検索ボタンや画像を拡大表示する機能もmodalを使って実装しています。
        modalの導入は<a href="https://getbootstrap.com/docs/4.3/components/modal/">こちらのbootstrap</a>から。
        </p>
    </div>
    <div class="nakami">
        <h5>③画像をクリックすると拡大表示される機能</h5>
        <p>
        この機能は<b>modal</b>を用いることにより実装できます。
        画像の拡大、コメントの投稿に対しては、<b>どの投稿の画像なのか、どの投稿に対するコメントなのか</b>を識別しないといけないため、
        上記②の方法でただmodalを導入するだけではうまくいきません。
        画像拡大、コメント投稿にmodalを用いたい場合は<a href="https://qiita.com/Fu990628/items/0cd1bf311563dfec0c24">この記事</a>をご参照ください。
        </p>
    </div>
    <div class="nakami">
        <h5>④modalで投稿一覧からコメントを投稿できる機能</h5>
        <p>
        この機能は<b>modal</b>を用いることにより実装できます。
        画像の拡大、コメントの投稿に対しては、<b>どの投稿の画像なのか、どの投稿に対するコメントなのか</b>を識別しないといけないため、
        上記②の方法でただmodalを導入するだけではうまくいきません。
        画像拡大、コメント投稿にmodalを用いたい場合は<a href="https://qiita.com/Fu990628/items/0cd1bf311563dfec0c24">この記事</a>をご参照ください。
        </p>
    </div>
    <div class="nakami">
        <h5>⑥投稿にタグを紐づけ、タグを用いて投稿を検索できる機能</h5>
        <p>
        この機能は<b>タグ機能</b>と呼ばれています。
        タグ機能を実装したいときは<a href="https://qiita.com/MandoNarin/items/5a5610a40c66f77d6c10">この記事</a>をご参照ください。
        </p>
    </div>
    <div class="nakami">
        <h5>⑦投稿の時間表記を変える</h5>
        <p>
        このサイトでは<b>時間を日本時間で表示</b>する方法と、
        Twitterのように<b>〇分前、〇日前という形で表示</b>する方法との両方を実装しています。
        日本標準時での表示は<a href="https://qiita.com/tomo_k09/items/e4f19947d35890500492">この記事</a>を、
        「〇分前」での表示は<a href="https://qiita.com/shouyetaizhi/items/41af0393c0263f5a7abb">この記事</a>を
        ご参照ください。
        </p>
    </div>
    <div class="nakami">
        <h5>⑧YouTubeから動画を投稿し、投稿一覧で再生できるようにする機能</h5>
        <p>
        この機能を実装したいときは<a href="https://qiita.com/Kairi_Yasunnde/items/8e931a4670549ba8237e">この記事</a>をご参照ください。
        </p>
    </div>
    <div class="nakami">
        <h5>⑨投稿に５段階の星評価をつける機能</h5>
        <p>
        この機能は<b>星評価機能</b>と呼ばれています。
        ５段階だけではなく、10段階評価も可能です。
        星評価機能を実装したいときは<a href="https://qiita.com/GeekSalon/private/d512b797389da4c2e381">この記事</a>をご参照ください。
        </p>
    </div>
    <div class="nakami">
        <h5>⑩ユーザーのアイコンやユーザー名をクリックすると、そのユーザーのマイページに飛ぶ機能</h5>
        <p>
        この機能は<b>教材３－５「ページ遷移を実装しよう」</b>を参考に実装します。
        教材の最後の方に、写真をリンクにする方法とありますが、
        今回は写真ではなく、ユーザーアイコンとユーザー名をリンクにしてあげましょう。
        </p>
    </div>
    <div class="nakami">
        <h5>⑪ページ遷移しないでいいねをすることができる機能</h5>
        <p>
        この機能は<b>Javascript</b>を用いて実装します。
        実装の参考となる記事は<a href="https://qiita.com/Fu990628/items/a6fffea6e5fedfffb4e3">こちら</a>になります。
        </p>
    </div>
    <div class="nakami">
        <h5>⑫投稿を削除しようとすると、画面上部において確認を要求する機能</h5>
        <p>
        この確認表示を実装したいときは、削除ボタンを実装している記述の<～～>の中に、
        <b>, data: { confirm: "投稿を削除しますか？" }</b>
        という記述を加えてあげましょう。
        </p>
    </div>
<div>