// Place all the styles related to the hello controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
    margin: 0;
    padding: 0;
}

.main-container {
    background-image: url("../images/tunapaha.jpg");
    height: 200px;
    background-size: cover;
}

.toplogo{
    height: 90px;
    width: 160px;
}

.block1{
    background-color: bisque;
    height: 100px;
    wideth:100%;
}

.block2{
    background-color: burlywood;
}

.inline3{
    background-color: chocolate;
}


.inline1{
    background-color: bisque;
    display: inline-block;
    height: 200px;
}

.inline2{
    background-color: burlywood;
}

.block3{
    background-color: chocolate;
}

.testborder{
    background-color: cornflowerblue;
    border-radius: 50%;
    width:300px;
    height: 300px;
    margin-botoom: 100px;
}

.center2{
    margin:0 auto;
}

.slide{
    width: 800px;
}



.slider{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.slider__content{
    min-width: 100%;
    animation: sliderAnime 12s ease-in-out infinite;
}

@keyframes sliderAnime{
    0%{

    }
    16.6%{
        transform: translateX(0);
    }
    33.3%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    66.6%{
        transform: translateX(-200%);
    }
    83.2%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(0);
    }
} 

.slider__img{
    max-width: 100%;
    min-width: 100%;
}

.explaination{
    background-color: blanchedalmond;
    border-radius: 15px;
    border: brown solid;
    margin: 15px;
    display: block;

    h1{
        color: red;
    }

    h2{
        margin-top: 5px;
        margin-left: 25px;
    }

    div{
        margin-top: 15px;
        margin-left: 15px;
    }

    h5{
        border-bottom: dashed red;
    }

    b{
        color: red;
    }
}
