  .search{
    margin-top: 10px;
    width: 70%;
    height: 60px;
    display: flex;
    text-align: center;
  }

  .post-container {
    margin: 5% 5%;
    border: solid #d3def1;
    border-radius: 10px;
    text-align: center;
    background-color: #d3def1;

    .title {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 50px;
    }

    input[type="text"] {
      border: none;
      background-color: white;
    }

    input[type="submit"] {
      width: 100px;
      font-size: 20px;
      margin-top: 10px;
      margin-bottom: 30px;
    }

    .sousinn{
      input[type="submit"] {
        width: 10px;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 30px;
      }
    }
  }

  
  .picture-container{
    border: dotted;
    border-radius: 10px;
    border-color: coral;
    padding-top: 10px;
    background-color: rgba(248, 211, 233, 0.568);
    margin: 5px;
  }

  .lecture_form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    margin: 30px;
  }

  .name_field{
    width: 200px;
    margin-bottom: 30px;
  }

  .contributer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }

  .contributername{
    margin-left: 15px;
    text-decoration: none;
  }

  .image-modal{
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .modal-body{
    margin-left: 8px;
  }

  .modal-link{
    margin-top: 15px;
  }

  .form-check{
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
  }

  .toukou-object{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }